@import './variables.scss';
html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.AdminPage {
  * {
    font-family: "Times New Roman"!important;
  }
}
.spinner-page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $darkPink;
}
input:focus {
  border: none;
  outline: none;
}
@import url('components/global-component-styles.scss');

* {
  font-family: "BAHNSCHRIFT";
  src: local("BAHNSCHRIFT"),
  url("__shared/fonts/BAHNSCHRIFT.TTF") format("ttf");
}
.width100 {
  width: 100%;
}

.borderBottomGray {
  border-bottom: 1px solid #d9d9d9!important;

}
