.TaskPage {
    .taskWithHelps {
        border-bottom: 1px black solid;
    }
    .taskRow {
        padding: 5px 20px;
        display: flex;
        flex-direction: row;
        div {
            width: 300px;
            font-size: 20px;
        }
    }
}
.TaskPage .taskWithHelps:nth-child(2n) {
    background: white;
}

%item {
    padding: 5px 20px;
    display: flex;
    flex-direction: row;
    div {
        width: 300px;
        font-size: 20px;
    }
}
.list {
    .head {
        @extend %item;
    }
    .item {
        border-bottom: 1px black solid;
        @extend %item;
    }
}
.list .item:nth-child(2n) {
    background: white;
}
