.TaskPage {
    .taskWithHelps {
        border-bottom: 1px black solid;
        margin-bottom: 20px;
    }
    .taskRow {
        display: flex;
        flex-direction: row;
        div {
            width: 300px;
            font-size: 20px;
        }
    }
}